---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { BLOCKS } from "@contentful/rich-text-types";
import { DateTime } from "luxon";
import Main from "../../../../../components/Main.astro";
import Layout from "../../../../../layouts/Layout.astro";
import { getBlogPosts, getHeadlines } from "../../../../../services/blog";

export async function getStaticPaths() {
  const headlines = await getHeadlines(1000, false);

  const tushi = headlines.blogPostCollection.items.map((item) => {
    const dt = DateTime.fromISO(item.date).setZone("Europe/Helsinki");

    return {
      params: {
        year: dt.year,
        month: dt.month,
        day: dt.day,
        slug: item.slug,
      },
    };
  });

  console.log("TUSHI", tushi);
  return tushi;
}

const { slug } = Astro.params;
const ret = await getBlogPosts(slug!, false);

const post = ret.blogPostCollection.items[0];
---

<Layout title="Laarilaa">
  <Main>
    <h1>{post.title}</h1>

    <article
      set:html={documentToHtmlString(post.content.json, {
        renderNode: {
          [BLOCKS.EMBEDDED_ASSET]: (node, next) => {
            return `<div>KUVA</div>`;
          },
        },
      })}
    />
  </Main>
</Layout>
